#container{
    border: 2px solid black;
    width: 25%;
    text-align: center;
    margin: auto;
    padding: 5px;
}
body{
    font-family: 'open sans', sans-serif;
}
header h1{
    margin: 0px;
}
header p{
    margin: 0;
    text-align: left;
    justify-content: space-between;
}
.bold{
    font-weight: 800;
}
.small divider{
    background-color: black;
    margin: 0px;
    height: 2px;
}
header h3{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.large-divider{
    height: 10px;
    margin: 2px;
    background-color: black;
}
section p{
    margin: 0px;
    text-align: left;
    font size: 14px;
}
section h3{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
.medium-divider{
    height: 7px;
    background-color: black;
    margin: 0px;
}
section p{
    text-align: left;
    margin: 0px;
}
p{
    margin: 0px;
}
main p{
    display: flex;
    justify-content: space-between;
}
#sub-title{
    text-align: right;
    display: block;
}
.l{
    text-align: right;
}
.bold1{
    font-size: auto;
}
.bold2{
    font-size: small;
}
.space{
    margin-left: 42px;
}
